name: Docker-Manual
on:
  workflow_dispatch:
    inputs:
      branch:
        description: '要构建的分支/标签'
        required: true
        default: 'main'

env:
  BINARY: danmaku
  OUTPUT: dist
  VERSION: dev
jobs:
  build:
    name: Build for ${{ matrix.os }}-${{ matrix.arch }}
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: write
    strategy:
      matrix:
        include:
          - os: linux
            arch: amd64
            runner: ubuntu-latest
          - os: linux
            arch: arm64
            runner: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set project name
        shell: bash
        run: |
          echo "PROJECT_NAME=${GITHUB_REPOSITORY##*/}" >> $GITHUB_ENV

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
          cache: 'true'

      - name: Build
        shell: bash
        run: |
          make release VERSION=dev OUTPUT=${{ env.OUTPUT }} BINARY=${{ env.BINARY }} PROJECT=${{ env.PROJECT_NAME }} GOOS=${{ matrix.os }} ARCH=${{ matrix.arch }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PROJECT_NAME }}_${{ env.VERSION }}_${{ matrix.os }}_${{ matrix.arch }}.tar.gz
          path: ${{ env.OUTPUT }}/${{ env.PROJECT_NAME }}_${{ env.VERSION }}_${{ matrix.os }}_${{ matrix.arch }}.tar.gz

  build-docker:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      packages: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}
          fetch-depth: 0
      - name: Set project name
        shell: bash
        run: |
          echo "PROJECT_NAME=${GITHUB_REPOSITORY##*/}" >> $GITHUB_ENV
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Download Linux Artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./${{ env.OUTPUT }}/
          pattern: '*_linux_*.tar.gz'
      - name: Extract Binaries to Context
        run: |
          declare -a arch_list=("amd64" "arm64")
          ls -Rlh ${{ env.OUTPUT }}
          for ARCH in "${arch_list[@]}"; do
            TAR_FILE="${{ env.OUTPUT }}/${{ env.PROJECT_NAME }}_${{ env.VERSION }}_linux_${ARCH}.tar.gz/${{ env.PROJECT_NAME }}_${{ env.VERSION }}_linux_${ARCH}.tar.gz"
            BIN_DIR="${{ env.OUTPUT }}/linux/${ARCH}"
            mkdir -p "$BIN_DIR"
          
            if [ -f "$TAR_FILE" ]; then
              tar -xzf "$TAR_FILE" -C "$BIN_DIR/"
            else
              echo "$TAR_FILE not exist"
            fi
          done

          echo "Cleaning up tar files..."
          rm -rf ${{ env.OUTPUT }}/*.tar.gz
      - name: Push Docker Image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:dev
          platforms: linux/amd64,linux/arm64
          build-args: |
            OUTPUT=${{ env.OUTPUT }}
            BINARY=${{ env.BINARY }}
          context: .
          file: Dockerfile